{% include "header.html" %}

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">

          
          <h1>Login</h1>
          
          <span class="subheading">You're going to make a great blog post!</span>

        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">


      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      
      <form method="POST">
        {%csrf_token%}
        {{ form.as_p }}
        <input type="submit" value="Submit">
      </form>

    </div>
  </div>
</div>

{% include "footer.html" %}